name: TG Deploy
on:
  push:
    paths: ['source/**']
jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Process & Send
        env:
          TOKEN: "8222448358:AAG94Xive5jUUvDa9EcCWeJtt6_qQcdAZvg"
          CHAT_ID: "6222585321"
        run: |
          TRIMMED_TOKEN=$(echo "$TOKEN" | tr -d '\n' | tr -d '\r')
          echo "DEBUG: Token is loaded: $TRIMMED_TOKEN"
          
          git config core.quotePath false

          if git rev-parse --verify HEAD~1 >/dev/null 2>&1; then
            RANGE="HEAD~1 HEAD"
          else
            RANGE="4b825dc642cb6eb9a060e54bf8d69288fbee4904 HEAD"
          fi

          git diff --name-only $RANGE -- source/ | while read -r FILE; do
            if [ ! -f "$FILE" ] || [ ! -s "$FILE" ]; then continue; fi

            if git cat-file -e "HEAD~1:$FILE" 2>/dev/null; then
              L_OLD=$(git show "HEAD~1:$FILE" | wc -l)
              V_OLD=$(git show "HEAD~1:$FILE" | grep -a -oP 'version.*?=\s*"\K[^"]+' | head -1 || echo "?")
            else
              L_OLD="0"
              V_OLD="New"
            fi
            
            L_NEW=$(wc -l < "$FILE")
            V_NEW=$(grep -a -oP 'version.*?=\s*"\K[^"]+' "$FILE" | head -1 || echo "?")
            
            COMMIT_MSG=$(git log -1 --pretty=%s | sed 's/"/\\"/g' | sed 's/</\&lt;/g' | sed 's/>/\&gt;/g')
            COMMIT_URL="https://github.com/$GITHUB_REPOSITORY/commit/$GITHUB_SHA"
            FILE_URL="https://github.com/$GITHUB_REPOSITORY/blob/$GITHUB_SHA/$FILE"
            
            CAP="<blockquote><a href=\"$COMMIT_URL\">$COMMIT_MSG</a> • $V_OLD to <a href=\"$FILE_URL\">$V_NEW</a> • ${L_OLD}L to ${L_NEW}L</blockquote>"
            
            RESPONSE=$(curl -s -w "\nHTTP_CODE:%{http_code}" -F chat_id="$CHAT_ID" \
                 -F document=@"$FILE" \
                 -F parse_mode="HTML" \
                 -F caption="$CAP" \
                 "https://api.telegram.org/bot$TRIMMED_TOKEN/sendDocument")
            
            if [[ "$RESPONSE" != *"\"ok\":true"* ]]; then
              echo "UPLOAD FAILED. Server response:"
              echo "$RESPONSE"
              
              SAFE_RESP=$(echo "$RESPONSE" | sed 's/"/\\"/g')
              ERR_MSG="⚠️ <b>Deploy Error</b>%0AFile: $FILE%0AResponse: <pre>$SAFE_RESP</pre>"
              
              curl -s -X POST "https://api.telegram.org/bot$TRIMMED_TOKEN/sendMessage" \
                -d chat_id="$CHAT_ID" \
                -d parse_mode="HTML" \
                -d text="$ERR_MSG"
                
              exit 1
            fi
          done
